.blackBackground {
    background-color: black;
    border: 3px solid black;
    height: 800px;
    width: 499px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    z-index: -1;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.row {
    display: flex;
}
.box {
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 10px rgb(102, 102, 102) inset;
    flex-direction: row-reverse;
    z-index: 10;
}

.empty {
    background-color: black;
}

.blueContainer {
    display: flex;
    flex: row wrap;
}
.box.cyan {
    background-color: cyan;
}
.box.green {
    background-color: rgb(68, 235, 68);
}
.box.yellow {
    background-color: yellow;
}
.box.purple {
    background-color: rgb(179, 118, 222); 
}
.box.black {
    background-color: black;
}

.darkblueContainer {
    display: flex;
    flex: row wrap;
}
.boxdarkblue {
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 10px rgb(102, 102, 102) inset;
    flex-direction: row;
}
.box.blue {
    background-color: rgb(32, 32, 252);;
}
.box.orange {
    background-color: orange;
}
.box.black {
    background-color: black;
}
.box.green {
    background-color: rgb(68, 235, 68);
}
.box.red {
    background-color: red;
}
.box.purple {
    background-color: rgb(179, 118, 222);
}
.box.black {
    background-color: black;
}    
.darkblueContainertwo {
    display: flex;
    flex: row wrap;
    position: absolute;
}

.darkblueContainer {
    display: flex;
    flex: row wrap;
}
.darkblue {
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 10px rgb(102, 102, 102) inset;
    flex-direction: row;
}
.box.darkblue {
    background-color: rgb(32, 32, 252);
}
.startContainer {
    display: flex;
    margin: auto;
    padding-top: 260px;
    
}
.start {
    background-color: rgb(163, 213, 139);
    font-family: "Rubik Doodle Shadow";
    color: rgb(147, 29, 121);
    height: 70px;
    width: 300px;
    font-size: 50px;
    text-align: center;
    
}
h1 {
    font-size: 50px;
    color: blueviolet;
    font-family: "Rubik Doodle Shadow";
    z-index: -1;
}